doctype html
html.no-js(lang='ru-RU')
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title
        meta(name="description", content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        // <link rel="manifest" href="site.webmanifest">
        // <link rel="apple-touch-icon" href="icon.png">
        // Place favicon.ico in the root directory

        // include function or replace to footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js", crossorigin="anonymous", type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js", crossorigin="anonymous", type="text/javascript")
        script.
            window.jQuery || document.write('<script src="\/assets\/vendor\/jquery\/jquery.min.js"><\/script>');
        link(rel="stylesheet", type="text/css", href="/assets/vendor/hamburgers@min.css")

        // bootstrap
        link(rel="stylesheet", type="text/css", href="/assets/vendor/bootstrap@min.css")
        script(type="text/javascript", src="/assets/vendor/bootstrap@min.js")
        // /

        // slick
        // link(rel="stylesheet", type="text/css", href="/assets/vendor/slick/slick.css")
        // script(type="text/javascript", src="/assets/vendor/slick/slick.min.js")
        // /

        // fancybox
        // link(rel="stylesheet", type="text/css", href="/assets/vendor/fancybox/jquery.fancybox.min.css")
        // script(type="text/javascript", src="/assets/vendor/fancybox/jquery.fancybox.min.js")
        // /

        script(src="/assets/main@min.js")
        link(rel="stylesheet", href="/assets/template@min.css")
        link(rel="stylesheet", href="/pages/index/style@min.css")

        <!-- IE compatibility -->
        <!--[if lt IE 9]>
            <script data-skip-moving="true" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            //- <script data-skip-moving="true">var isIE = true;</script>
        <![endif]-->
        //-
            script(data-skip-moving="true").
                var isIE = false /*@cc_on || true @*/;
                if( isIE ) {
                    document.createElement( "picture" );
                    document.write('<script src="https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/picturefill\/3.0.3\/picturefill.min.js" async><\/script>');
                }
                //- if( isIE || /Edge/.test(navigator.userAgent) ) {
                //-     document.write(\'<script src="\/assets\/polyfill-svg-uri\/polyfill-svg-uri.min.js" async><\/script>\');
                //- }
    body
        <!--[if lte IE 9]>
            p.browserupgrade.
                Вы используете <strong> устаревший </strong> браузер.
                Пожалуйста <a href="https://browsehappy.com/"> обновите ваш браузер </a>
                для лучшего отображения и безопасности.
        <![endif]-->

        #page.site

            header.site-header
                // <div itemscope itemtype="http://schema.org/LocalBusiness">
                .container
                    .row.head-info
                        .col-4.logotype
                            .navbar-brand

                        .col-4.contacts
                            // Contacts
                        .col-4.callback
                            // <a href="#" id="get-callback"></a>
                //     <div class="hidden hidden-xs-up">
                //     <span itemprop="priceRange">RUB</span>
                //     </div>
                // </div>
            // .site-header
            section.site-navigation.navbar-default
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    .container
                        .navbar-brand.hidden-lg-up.text-center.text-primary Название сайта

                        button.navbar-toggler.hamburger.hamburger--elastic(type="button", data-toggle="collapse", data-target="#site-nav", aria-controls="site-nav", aria-expanded="false", aria-label="Toggle navigation")
                            span.hamburger-box
                                span.hamburger-inner

                        #site-nav.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.nav-item.active
                                    a.nav-link(href="#")
                                        | Домой
                                        span(class="sr-only")  (Главная)
                                li.nav-item
                                    a.nav-link(href="#") О нас

                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true",aria-expanded="false") Выпадающее меню

                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="#") Действие
                                        a.dropdown-item(href="#") Другое действие
                                        .dropdown-divider
                                        a.dropdown-item(href="#") Еще какое то действие

                                li.nav-item
                                    a.nav-link.disabled Заблокированное меню

                            form.form-inline.my-2.my-lg-0
                                input.form-control.mr-sm-2(type="search", laceholder="Search", aria-label="Search")
                                button.btn.btn-primary.my-2.my-sm-0(type="submit") Поиск
            // .site-navigation
            section.breadcrumb
                .container
            // section.breadcrumb

            #content.site-content.container
                .row
                    aside#secondary.sidebar.col-12.col-lg-3.order-lg-2(role="complementary")
                        h3.sidebar__title Боковая панель

                        .sidebar__body
                            .sidebar__text.
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.

                    main#primary.main.content.col-12.col-lg-9(role="main")
                        h1.archive-title.mb-0 Заготовка нового проекта
                        .archive-description.mb-5 Скоро это будет грандиозный проект

                        article#the_ID
                            .media.post
                                .post__thmb.mr-3
                                    img(src="/pages/index/img/placeholder.png", alt="", width="180", height="180")

                                .media-body.article-content
                                    h4.post__name Заголовок записи
                                    .post__text
                                        .two-columns
                                            div.
                                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
                                            div#the_ID-more.collapse.
                                                Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                                            br
                                            a.more.meta-nav(href="#", data-toggle="collapse", data-target="#the_ID-more", onclick="this.className='hidden'") Читать еще..

                        // the_template_pagination()
            // #content
            section.site-prefix.container
                .slider.justify-content-between.mt-5
                    div
                        a(href="/img/placeholder.png", data-fancybox="gallery")
                            img.ac(src="img/placeholder.png", alt="", width="150")
                    div
                        a(href="/img/placeholder.png", data-fancybox="gallery")
                            img.ac(src="img/placeholder.png", alt="", width="150")
                    div
                        a(href="/img/placeholder.png", data-fancybox="gallery")
                            img.ac(src="img/placeholder.png", alt="", width="150")
                    div
                        a(href="/img/placeholder.png", data-fancybox="gallery")
                            img.ac(src="img/placeholder.png", alt="", width="150")
                    div
                        a(href="/img/placeholder.png", data-fancybox="gallery")
                            img.ac(src="img/placeholder.png", alt="", width="150")

            footer.site-footer
                .container
                    .row
                        .col-12
            // .site-footer
        // #page
        // Scripts and Analitics
        // Google Analytics: change UA-XXXXX-Y to be your site's ID.
        //
            script.
                window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
                ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
            script(src="https://www.google-analytics.com/analytics.js" async defer)