@charset "UTF-8";
/* Site settings */
/* Base */
/**
 * Images
 */
.full {
  max-width: auto !important;
}

.cyrcle {
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
}

.rounded {
  -webkit-border-radius: 4px !important;
          border-radius: 4px !important;
}

.scale {
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.scale > * {
  -webkit-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all;
}

.thumb-center {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.thumb-center > * {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 98%;
}

/**
 * Lists
 */
.clear-list {
  list-style: none;
  padding-left: 0;
}

.two-columns {
  position: relative;
  overflow: hidden;
}

.two-columns > div, .two-columns li {
  float: left;
  width: 50%;
}

.two-columns > div:nth-child(2n+1), .two-columns li:nth-child(2n+1) {
  clear: both;
}

.two-columns-vertical {
  -webkit-column-count: 2;
  column-count: 2;
}

.two-columns-vertical > div, .two-columns-vertical li {
  display: inline-block;
  position: relative;
  width: 100%;
}

/**
 * Aligments
 */
.alignleft, .al, .alignright, .ar {
  display: inline;
  margin-bottom: 1rem;
}

.alignleft, .al {
  float: left;
  margin-right: 1.5em;
}

.alignright, .ar {
  float: right;
  margin-left: 1.5em;
}

.aligncenter, .ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fll, .float-left, .pull-left {
  float: left !important;
}

.flr, .float-right, .pull-right {
  float: right !important;
}

.fln, .float-none, .pull-none {
  float: none !important;
}

.no-underline, .no-underline:hover, .no-underline:focus {
  text-decoration: none;
}

/**
 * Compatibility only
 * @see new d-{media}-{state}. Ex: d-sm-none
 */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.offset-2-4 {
  margin-left: 20%;
}

@media (min-width: 576px) {
  .col-sm-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-sm-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 768px) {
  .col-md-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-md-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  .col-lg-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-lg-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-xl-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 1440px) {
  .col-hd-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-hd-2-4 {
    margin-left: 20%;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Layouts */
.site-navigation {
  width: 100%;
}

.site-navigation .container {
  padding: 0 15px;
}

.site-navigation .navbar {
  z-index: 1100;
  background: #fff;
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.site-navigation .navbar .nav-link,
.site-navigation .navbar .nav-link:hover,
.site-navigation .navbar .nav-link:focus {
  text-decoration: none;
}

.site-navigation .non-responsive .navbar-brand {
  display: none !important;
}

.site-navigation .non-responsive .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Modules */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover, .hamburger:hover[aria-expanded="true"] {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  -webkit-transition-duration: 0.275s;
       -o-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 9px;
  -webkit-transition: opacity 0.125s 0.275s ease;
  -o-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 18px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner {
  -webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
          transform: translate3d(0, 9px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
       -o-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before, .hamburger[aria-expanded="true"] .hamburger-inner::before {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after, .hamburger[aria-expanded="true"] .hamburger-inner::after {
  -webkit-transform: translate3d(0, -18px, 0) rotate(-270deg);
          transform: translate3d(0, -18px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
       -o-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger:focus {
  outline: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./assets/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./assets/slick/fonts/slick.eot");
  src: url("./assets/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("./assets/slick/fonts/slick.woff") format("woff"), url("./assets/slick/fonts/slick.ttf") format("truetype"), url("./assets/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
