/* Site settings */
/* Base */
/**
 * Images
 */
.full {
  max-width: auto !important;
}

.cyrcle {
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
}

.rounded {
  -webkit-border-radius: 4px !important;
          border-radius: 4px !important;
}

.scale {
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.scale > * {
  -webkit-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all;
}

.thumb-center {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.thumb-center > * {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 98%;
}

/**
 * Lists
 */
.clear-list {
  list-style: none;
  padding-left: 0;
}

.two-columns {
  position: relative;
  overflow: hidden;
}

.two-columns > div, .two-columns li {
  float: left;
  width: 50%;
}

.two-columns > div:nth-child(2n+1), .two-columns li:nth-child(2n+1) {
  clear: both;
}

.two-columns-vertical {
  -webkit-column-count: 2;
  column-count: 2;
}

.two-columns-vertical > div, .two-columns-vertical li {
  display: inline-block;
  position: relative;
  width: 100%;
}

/**
 * Aligments
 */
.alignleft, .al, .alignright, .ar {
  display: inline;
  margin-bottom: 1rem;
}

.alignleft, .al {
  float: left;
  margin-right: 1.5em;
}

.alignright, .ar {
  float: right;
  margin-left: 1.5em;
}

.aligncenter, .ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fll, .float-left, .pull-left {
  float: left !important;
}

.flr, .float-right, .pull-right {
  float: right !important;
}

.fln, .float-none, .pull-none {
  float: none !important;
}

.no-underline, .no-underline:hover, .no-underline:focus {
  text-decoration: none;
}

/**
 * Compatibility only
 * @see new d-{media}-{state}. Ex: d-sm-none
 */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.offset-2-4 {
  margin-left: 20%;
}

@media (min-width: 576px) {
  .col-sm-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-sm-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 768px) {
  .col-md-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-md-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  .col-lg-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-lg-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-xl-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 1440px) {
  .col-hd-2-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .offset-hd-2-4 {
    margin-left: 20%;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Layouts */
#main-navigation {
  width: 100%;
}

#main-navigation .navbar {
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}

#main-navigation .navbar .nav-link,
#main-navigation .navbar .nav-link:hover,
#main-navigation .navbar .nav-link:focus {
  text-decoration: none;
}

#main-navigation .non-responsive .navbar-brand {
  display: none !important;
}

#main-navigation .non-responsive .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Modules */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover, .hamburger:hover[aria-expanded="true"] {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
       -o-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner, .hamburger[aria-expanded="true"] .hamburger-inner {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before, .hamburger[aria-expanded="true"] .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after, .hamburger[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger:focus {
  outline: none;
}
