.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
ehthumbs.db
Thumbs.db
_config.yml
*.lock
*.log
package-lock.json
node_modules/

public_html/img/*
!public_html/img/high/

public_html/assets/*
!public_html/assets/js/
!public_html/assets/page/
!public_html/assets/scss/
!public_html/assets/vendor/
public_html/assets/vendor/*
!public_html/assets/vendor/_source/
public_html/assets/vendor/_source/**/

# Pages assets
public_html/page/**/*.css
public_html/page/**/*.js
public_html/page/**/img/*
!public_html/page/**/img/high/
