.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
ehthumbs.db
Thumbs.db
_config.yml
*.lock
*.log
package-lock.json

node_modules/
vendor/

# Remove on dev
public_html/*.css
public_html/*.html

public_html/img/*
!public_html/img/_raw/

public_html/assets/*
!public_html/assets/_raw/
public_html/assets/_raw/*
!public_html/assets/_raw/*.*
!public_html/assets/pages/

public_html/pages/
