// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;

$list-inline-padding: .5rem !default;

$hr-margin-y: $spacer !default;
