$spacer: 1rem !default;

// .full {
//     max-width: 9999px !important;
// }

// .wide {
//     max-width: 9999px !important;
//     width: 100%;
// }

// .two-columns {
//     @include two-columns();
// }

// based on column-count (child element not required)
// .two-columns-text {
//     @include two-columns(vertical);
// }

//
// Aligments
//
.fll, .float-left, .pull-left { float: left !important; }
.flr, .float-right, .pull-right { float: right !important; }
.fln, .float-none, .pull-none  { float: none !important; }

//
// Wordpress required
//
.alignleft, .al, .alignright, .ar {
    display: inline;
    margin-bottom: $spacer;
}

.alignleft, .al {
    float: left;
    margin-right: 1.5em;
}

.alignright, .ar {
    float: right;
    margin-left: 1.5em;
}

.aligncenter, .ac {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    opacity: 0 !important;
    transition: .4s;
}
.invisible { visibility: hidden !important; }
