//  strip units helper function
@function num($input){
    @return $input/($input * 0 + 1);
}

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
@mixin retina-background-image($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);
    @media #{$retina} {
        background-image: url($file + '@2x.' + $type);
        background-size: $width $height;
    }
}

// ==============================
// Font size mixin
// ==============================

//  default font scale bounding
$font-lock-min:  992px !default;
$font-lock-max: 1440px !default;

$media-hd:  1440px !default;
$media-fhd: 1560px !default;

$wsm:  (1 / (num($media-sm)  * 0.01)) * 1vw;
$wmd:  (1 / (num($media-md)  * 0.01)) * 1vw;
$wlg:  (1 / (num($media-lg)  * 0.01)) * 1vw;
$wxl:  (1 / (num($media-xl)  * 0.01)) * 1vw;
$whd:  (1 / (num($media-hd)  * 0.01)) * 1vw;
$wfhd: (1 / (num($media-fhd) * 0.01)) * 1vw;

//  font-size responsive
@mixin responsive-font(
    $min,                       // font-size
    $max: null,                 // optional maximum font size
    $lock-min: $font-lock-min,  // optional minimum viewport width
    $lock-max: $font-lock-max   // optional maximum viewport width
) {
    & { font-size: $min; }
    @if $max {
        @media (min-width: $lock-min) and (max-width: $lock-max){
            & {
                font-size: calc(
                    #{$min} +
                    #{num($max) - num($min)} *
                    (100vw - #{$lock-min}) /
                    #{num($lock-max) - num($lock-min)}
                    );
            }
        }

        @media (min-width: $lock-max){
            & { font-size: $max; }
        }
    }
}

@mixin vw(
    $context,
    $xl: null, // 1200
    $md: $xl,  // 768
    $sm: $md,  // 512
    $hd: $xl
) {
    #{$context}: $xl * $wxl;

    @if $hd {
        @media screen and (min-width: $media-hd - 1) {
            #{$context}: $hd * $wfhd;
        }
    }

    @if $md {
        @media screen and (max-width: $media-md - 1) {
            #{$context}: $md * $wmd;
        }
    }

    @if $sm {
        @media screen and (max-width: $media-sm - 1) {
            #{$context}: $sm * 1px;
        }
    }
}
