//
// Base elements
//

img {
    max-width: 100%;
    height: auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content {
        margin-bottom: auto;
    }
}

h1 {
    @include font-size(22px, 40px);
}

@include to($media-lg) {
    h1 {
        margin-top: rem(24px);
        line-height: 1.5;
    }
}
