
// Import variables and mixins.
@import "abstracts/abstracts";

.site__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**
 * Page 404 Content
 */
.page {
    &__title {
        text-align: center;
        @include font-size(40px, 80px);
    }

    &__description {
        margin: 0;
        text-align: center;
    }
}