<div class="container">
    <!-- <?php if( !is_front_page() ):?> -->
    <section class="breadcrumb">
        <div class="container">
        </div>
    </section>
    <!-- <?php endif;?> -->

    <div class="row">
        <div id="primary" class="col-9"> <!-- <?php echo ( is_show_sidebar() ) ? "col-9" : "col-12"; ?> -->
            <main id="main" class="main content" role="main">
                //= ../page/index.html
            </main><!-- #main -->
        </div><!-- #primary.col -->

        <div id="secondary" class="col-3">
          <aside class="widget-area" role="complementary">
          </aside>
        </div><!-- #secondary.col -->
    </div><!-- .row -->
</div><!-- .container -->
