/**
 * Navigation
 */

.site__navigation {
    width: 100%;
    margin-bottom: 2rem;

    .container {
        padding: 0 15px;
    }

    .navbar {
        z-index: 999;
        background: #ffffff;
        padding: 0;
        border-radius: 0;

        .nav-link {

            &,
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        @include from-to(media("lg"), media("xl")) {
            >.container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .navbar-collapse {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .navbar-toggler {
        // reset bootstrap defaults.
        padding: 0 10px;
        border: 0;
        border-radius: 0;
    }
}