/**
 * Sidebar
 */

.site {
    .has-sidebar &__main {
        @include col();
        @include size-lg(9);
        margin-bottom: 1rem;
    }

    .has-sidebar &__sidebar {
        order: -1;
        @include col();
        @include size-lg(3);
        margin-bottom: 1rem;

        @include from(media("lg")) {
            order: 99;
        }
    }
}

.site-sidebar {
    &__title {
        @include font-size(18px, 22px);
    }

    @include from(media("lg")) {
        &__title {
            margin-top: 4.5rem;
        }
    }
}
